<h1 style="color:blue;">Ingrese datos</h1>
<br>
<a href="/productos" class="my-3 btn btn-primary">Ir a Vistas de productos</a>
<br>

<form action="/productos" method="post">

    <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input id="nombre" class="form-control" type="text" name="nombre">
    </div>

    <div class="form-group">
        <label for="apellido"><b>Apellido</b></label>
        <input id="apellido" class="form-control" type="text" name="precio">
    </div>

    <div class="form-group">
        <label for="edad"><b>Edad</b></label>
        <input id="edad" class="form-control" type="number" name="foto">
    </div>

    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>